<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Favorites
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="*"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card">
      <div class="header">
        <div class="avatar">
         
          <img [src]="userData.avtar">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername"> {{userData.displayName}} </h3>
          <h5 class="country">  {{userData.email}}  </h5>
          <h6 class="ranking">   {{userData.avatar}}   <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
        <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
        <ion-button expand="full" color="secondary">View profile at ATP</ion-button>

      </div>
    </div>

<img [src]="userData.avtar">

</ion-content>
