<ion-header>
  <ion-toolbar>
    <ion-title> {{userData.displayName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h2 *ngIf="chats" >start a conversation by sending a msg</h2>

   <ion-card *ngFor="let chat of chats ">
      <ion-item  *ngIf="chat.sender === curentuserid; else elseBlock" >
       {{cruserData.displayName}}
      </ion-item> 

      <ng-template #elseBlock>
     <ion-item >         <ion-avatar >
	<img [src]="userData.avatar">
        </ion-avatar>
         {{userData.displayName}} </ion-item>
       </ng-template> 
     <ion-card-content>

          {{chat.msg}}

     </ion-card-content>
   </ion-card>

</ion-content>
<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">        
    <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..."></ion-input>  
    <ion-buttons end>
      <button ion-button (click)="addmessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>
