<ion-header>
  <ion-toolbar>
    <ion-title> {{userData.displayName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Loged in user {{userid}}
<h2 *ngFor="let chat of chats " >{{chat.msg}}</h2>

   <ion-card *ngFor="let chat of chats ">
      <ion-item  *ngIf="chat.sender === curentuserid; else elseBlock" >
       Me 
      </ion-item> 

      <ng-template #elseBlock>
     <ion-item > {{userData.avatar}} {{userData.displayName}} </ion-item>
       </ng-template> 
     <ion-card-content>

          {{chat.msg}}

     </ion-card-content>
   </ion-card>

</ion-content>
