<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="blogs" class="list-mini-content" padding>
 
 <div >

<ion-card *ngFor="let blog of blogs" [routerLink]="['/details', blog.id]" >
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title> {{blog.body}} </ion-card-title>
  </ion-card-header>

  <ion-card-content>

<img [src]="blog.imgurl">

  </ion-card-content>
</ion-card>

  </div>
  <div *ngIf="blogs.length == 0" class="empty-list">
    Please create your first task.
  </div>

<ion-card *ngFor="let blog of blogs">    
   <ion-card-content>
      <img [src]="blog.imgurl" />
      <button ion-button block>          <ion-icon name="heart"></ion-icon>        
<ion-badge item-right>{{blog.likes}}</ion-badge>     
      </button>            
      <button ion-button color="danger"   block>        
          <ion-icon name="trash"></ion-icon>      
      </button>    
   </ion-card-content>  
</ion-card>

</ion-content>


<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
