<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="blogs" class="list-mini-content" padding>
 
 


  <hr no-margin no-padding>
  <div (swipe)="swipePage($event)">

    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card" *ngFor="let blog of blogs">
     <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-item>
        <ion-avatar item-left>
          <img src="http://ionicframework.com/dist/preview-app/www/assets/img/sarah-avatar.png.jpeg">
        </ion-avatar>
        <h2 style="font-weight: bold"> {{blog.byuser}} </h2>
        
        
      </ion-item>
        </ion-col >
        <ion-col col-2>
          <ion-button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" >
            <ion-icon name="more"></ion-icon>
        </ion-button >
        </ion-col>
      </ion-row>
      <ion-grid>

      <img [src]="blog.imgurl" (tap)="tapPhotoLike($event)">

      <p no-margin no-padding>
        <ion-button clear ion-button icon-only (click)="likeButton()" class="like-btn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon>
        </ion-button>
        <ion-button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="ios-text-outline" class="icon-space" style="font-weight: bold"></ion-icon>
        </ion-button>
        <ion-button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="paper-plane" class="icon-space"></ion-icon>
        </ion-button>
        <ion-button no-margin no-padding clear color="black" icon-only style="float: right">
          <ion-icon name="ios-bookmark-outline"></ion-icon>
        </ion-button>
      </p>
      <hr>

      <ion-card-content>
        <p class="like-content"><ion-icon name="heart"></ion-icon> {{blog.likes}} likes</p>
        <p><b> {{blog.byuser}} </b> {{blog.body}} </p>
      
        <ion-note style="font-size: 12px">
          11h ago
        </ion-note>
      </ion-card-content>

    </ion-card>

  </div>



</ion-content>


<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
